name: CMake

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        # macos-latest disabled due to cmake deprecation
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Test on Windows
      if: matrix.os == 'windows-latest'
      working-directory: ${{github.workspace}}\build
      run: .\test\Release\TerminalCalculatorTests.exe

    - name: Test on Ubuntu
      if: matrix.os == 'ubuntu-latest'
      working-directory: ${{github.workspace}}/build
      run: ./test/TerminalCalculatorTests

    - name: Test on macOS
      if: matrix.os == 'macos-latest'
      working-directory: ${{github.workspace}}/build
      run: ./test/TerminalCalculatorTests
